/* Global styles */
body {
  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

:root {
  --color-one: #0EB1D4;
  --color-two: #4B5887;
  --color-three: #69D1EF;

  --color-white: #f4f4f4;
  --color-black: #151414;

  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}

