<section class="bikini-bottom-map">
  <img src="assets/bikini-bottom.jpg" usemap="#image-map">

  <map name="image-map">
    <area alt="Spongebob's house" title="Spongebob's house" (click)="navigateTo('Spongebob house')" coords="588,579,446,816" shape="rect">
    <area alt="Squidward's house" title="Squidward's house" (click)="navigateTo('Squidward house')" coords="258,555,380,790" shape="rect">
    <area alt="Patrick's house" title="Patrick's house" (click)="navigateTo('Patrick house')" coords="157,735,56" shape="circle">
    <area alt="Chum bucket" title="Chum bucket" (click)="navigateTo('Chum bucket')" coords="870,579,998,702" shape="rect">
    <area alt="Krusty krab" title="Krusty krab" (click)="navigateTo('Krusty krab')" coords="1027,464,1215,581" shape="rect">
    <area alt="The salty spitoon" title="The salty spitoon" (click)="navigateTo('The salty spitoon')" coords="688,532,833,662" shape="rect">
    <area alt="Glove world" title="Glove world" (click)="navigateTo('Glove world')" coords="469,76,732,236" shape="rect">
    <area alt="Dutchman cave" title="Dutchman cave" (click)="navigateTo('Dutchman cave')" coords="856,105,81" shape="circle">
    <area alt="Sandies house" title="Sandies house" (click)="navigateTo('Sandies house')" coords="229,115,43" shape="circle">
    <area alt="Shady shoals" title="Shady shoals" (click)="navigateTo('Shady shoals')" coords="142,499,54,361" shape="rect">
    <area alt="Bank" title="Bank" (click)="navigateTo('Bank')" coords="886,530,789,441" shape="rect">
    <area alt="Puffs boating school" title="Puffs boating school" (click)="navigateTo('Puffs boating school')" coords="263,395,383,509" shape="rect">
    <area alt="Mussel beach" title="Mussel beach" (click)="navigateTo('Mussel beach')" coords="1349,446,1107,333,1210,369" shape="rect">
  </map>
</section>
