<section class="home">
  <div class="hero">
    <h1>Welcome to the Spongebob World!</h1>
    <p>Your adventure starts here. Explore quizzes, characters, and more!</p>
  </div>

  <div class="card-container">
    <div class="card">
      <h3>Quizzes</h3>
      <p>Test your knowledge with fun quizzes!</p>
      <button routerLink="/quiz">Start Quiz</button>
    </div>
    <div class="card">
      <h3>Characters</h3>
      <p>Explore the characters and their stories!</p>
      <button routerLink="/characters">View Characters</button>
    </div>
    <div class="card">
      <h3>Interactive Map</h3>
      <p>Discover the world of SpongeBob!</p>
      <button routerLink="/bikini-bottom">View Map</button>
    </div>
  </div>
</section>

